/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: #1f2937;
    line-height: 1;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {

    font-family: 'Roboto', sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}

/* Navbar */

nav {

    height: 5vh;
    color: #f9faf8;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-logo {
    font-weight: bold;
}

.navbar .nav-logo {
    margin-right: auto;
}

.nav-links {
    color: #e5e7eb;
    font-size: 18px;
}

/* links */

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Containers */

.container-outer {
    padding: 0 20%;
}

.hero-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 10%;
}

.hero-container-child {
    flex: 1 1 50%;

}

/* font */

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;

}

.paragraph {
    text-align: left;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    padding: 5% 0;
    line-height: 1.2;
}

/* Paddings and Margin Classes */

.padding-right-10 {
    padding-right: 10%;
}

/* Buttons */

.sign-up {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #3882f6;
    border-style: none;
    font-weight: bold;
    color: #e5e7eb;
}

/* Section Random information */

.random-information {
    min-height: 50vh;
    background-color: #f9faf8;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 3rem 0;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}


p {
    text-align: center;
}

.box-child-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 150px;
    height: 150px;

}

.box-child {
    border-width: 4px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
    height: 100%;
    flex-shrink: 0;

}


.box-text {
    color: #1f2937;
    font-size: 18px;
    margin-top: 10%;
    width: 100%;

}

/* Blockquote Section*/

.blockquote-section {
    min-height: 40vh;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockquote-container {
    font-size: 36px;
    font-weight: thinner;
    line-height: 1em;
    font-style: italic;
    color: #1f2937;
}

.cite {
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    float: right;
}

/* CTA Section */

.cta {
    height: 30vh;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;



}

.cta .container-outer {
    width: 100%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content-container {
    display: flex;
}

.cta-paragraph {

    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up.reverse {
    padding: 1rem 3rem;
    border-style: solid;
    border-width: 2.5px;
    border-color: #f9faf8;
    color: #f9faf8;
}